*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(315deg,#444,#999);
}
.contanier{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 5%;
    background: white;
    height: 80px;
    justify-content: space-between;
}
.contanier button{
    padding:10px 15px;
    background: black;
    border-radius: 8px;
    border: 2px solid black;
    color: white;
    font-weight: 550;
    cursor: pointer;
    transition: all ease-in-out 0.3ms;
}
.contanier button:active{
    background-color: blue;
    border: 2px solid blue;
}
.contanier1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:20px 5em;
    padding: 20px 5%;
}
.contanier1 .card{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    gap: 10px;
    box-shadow: 0 5px 10px grey;
    background: white;
    
}
.contanier1  .card h3{
    font-weight: 600;
}
.contanier1  .card p{
    text-align: justify;
    font-weight: 350;
    padding: 10px;
}
.contanier1 .card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
