body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:skyblue;
font-family:Arial;
}

.calculator{
background:green;
padding:20px;
border-radius:10px;
box-shadow:pink;
}

#display{
width:100%;
height:60px;
font-size:26px;
text-align:right;
padding:10px;
margin-bottom:10px;
border:none;
border-radius:5px;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,70px);
gap:10px;
}

button{
height:60px;
font-size:20px;
border:none;
border-radius:6px;
cursor:pointer;
background:#444;
color:white;
}

button:hover{
background:yellow;
}

.clear{
background:#e74c3c;
}

.equal{
background:indigo;
}