body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f4f4;
    font-family:Arial;
}

.container{
    width:500px;
    height:300px;
    background:white;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    position:relative;
}

.timer-box{
    text-align:center;
    margin-top:90px;
}

.timer-box h1{
    font-size:48px;
}

.bottom-info{
    position:absolute;
    bottom:10px;
    width:100%;
}

.date{
    position:absolute;
    left:15px;
    font-size:16px;
}

.day-box{
    position:absolute;
    right:15px;
    border:2px solid black;
    padding:5px 15px;
    border-radius:5px;
    font-weight:bold;
}